<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/root.css">
  <title>Flask Parent Template</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!--Fontawesome import-->
  <script src="https://use.fontawesome.com/53f9b66348.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body class="bg-light text-dark">
  <header>
    <nav class="navbar navbar-expand-lg navbar-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="pill" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="about-tab" data-toggle="pill" href="#about" role="tab" aria-controls="about"
                aria-selected="false">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="goods-tab" data-toggle="pill" href="#goods" role="tab" aria-controls="goods"
                aria-selected="false">Goods</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form action="" method="POST">
          {{ form.email.label }} {{ form.email }}
          <div>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
          {{ form.password.label }} {{ form.password }}
          <div>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
          {{ form.submit }}
      </form>
      </div>
      <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
        <h1>About Flask</h1>
        <p>Flask is a micro web framework written in Python.</p>
        <p>
          Applications that use the Flask framework include Pinterest, LinkedIn, and
          the community web page for Flask itself.
        </p>
      </div>
      <div class="tab-pane fade" id="goods" role="tabpanel" aria-labelledby="goods-tab">
        <h1>What we sell</h1>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product No.</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Last Updated</th>
            </tr>
          </thead>
          <tbody>
            {% for good in goods_list %}
            <tr>
              <th scope="row">{{ good.id }}</th>
              <td>{{ good.name }}</td>
              <td>{{ good.price }}</td>
              <td>{{ good.quantity }}</td>
              <td>{{ good.last_updated }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>

<footer class="footer fixed-bottom">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-lg-12" id="footer-contact">Contact us at: +91723938383838</div>
    </div>
  </div>
</footer>

</html>